<% include partials/header %>
<h1>Add Customer</h1>
<% if(errors){ %>
<ul>
<% errors.forEach(function(error){%>
    <1i><%= error.msg %></1i>
<%})%>
    </ul>
<%} %>
<form method="POST" action="/users/add">
<label>First Name</label><br>
<input type="text" name="first_name">
<br>
<label>Last Name</label><br>
<input type="text" name="last_name">
<br>
<label>email</label><br>
<input type="text" name="email">
<br><br>
<input type="sumbit" value="Submit">
</form>
<h1><%= title %></h1>
<ul>
<% users.forEach(function(user){%>
    <1i><%= user.first_name %> <%= user.last_name %></1i>
<%})%>
</ul>    
<% include partials/footer %>